<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" type="text/css" th:href="@{/layout.css}" />
        <title>SB Demo Program</title>
        <th:block layout:fragment="styles"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <th:block layout:fragment="content"></th:block>
        </div>
    </body>
</html>
